{
  "env": {
    "test": {
      "presets": [
        [
          "env", {
            "targets": {
              "node": "current"
            },
            "loose": true,
            "modules": "commonjs"
          }
        ]
      ]
    },
    "cjs": {
      "presets": [
        [
          "env", {
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie 10",
                "ie 11",
                "safari >= 7"
              ]
            },
            "loose": true,
            "modules": "commonjs"
          }
        ]
      ]
    },
    "es": {
      "presets": [
        [
          "env", {
            "targets": {
              "browsers": ["ie >= 11"]
            },
            "loose": true,
            "modules": false
          }
        ]
      ]
    }
  }
}
